{% extends 'base.html.twig' %}

{% block title %}Affichage d'un article{% endblock %}

{% block body %}

    <h1>Article : {{ article.title }} </h1>
    <h2>Auteur : {{ article.author.username }}  </h2>
    <h3>Date de création : {{ article.createdAt|date("d/m/Y") }} </h3>
    <p>Contenu : {{ article.content }} </p>


{% endblock %}