{% extends 'base.html.twig' %}

{% block title %}Hello Tableau !{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Tableaux</h1>

        <h2>Tableau de nombres aléatoires</h2>
        <table>
            <tr>
                <td><script>math.random()</script></td>
                <td>shot</td>
            </tr>
            <tr>
                <td>mass</td>
                <td>welcome</td>
            </tr>
            <tr>
                <td>victory</td>
                <td>noon</td>
            </tr>
        </table>

        <h2>Tableau de string</h2>
        <table>
            <tr>
                <td>potato></td>
                <td>shot</td>
            </tr>
            <tr>
                <td>mass</td>
                <td>welcome</td>
            </tr>
            <tr>
                <td>victory</td>
                <td>noon</td>
            </tr>
            <tr>
                <td>happy</td>
                <td>consonant</td>
            </tr>
            <tr>
                <td>becoming</td>
                <td>object</td>
            </tr>
            <tr>
                <td>machinery</td>
                <td>there</td>
            </tr>
        </table>
    </div>
{% endblock %}
