{% extends 'base.html.twig' %}

{% block title %}Hello Tableau !{% endblock %}

{% block body %}

{% set tableNb = triNb %}

    <h1>Tableaux</h1>

    <h2>Tableau de nombres aléatoires</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="row">Nombres aléatoires : {{ tableNb|length }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for nb in tableNb %}
                <td>{{ nb }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    </br>

{% set stringTab = stringTab %}

    <h2>Tableau de strings</h2>
    <span class="table table-hover">{{ stringTab }}</span>

{% endblock %}
