{% extends 'base.html.twig' %}

{% block title %}Hello Tableau !{% endblock %}

{% block body %}

    <h1>Tableaux</h1>

    <h2>Tableau de nombres aléatoires</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="row">Aléatoires</th>
            <td>Pairs</td>
            <td>Impairs</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </br>
    <h2>Tableau de strings</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="row">Pays</th>
            <td>Légumes</td>
            <td>Voitures</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Espagne</th>
            <td>Navet</td>
            <td>Nissan</td>
        </tr>
        <tr style="display:none">
            <th scope="row">Chili</th>
            <td>Haricot</td>
            <td>Toyota</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
